{# Reusable Pokemon table component #}
<table class="table table-hover mb-0">
	<tbody>
		{% for pokemon in pokemons %}
			<tr class="position-relative align-middle">
				<th scope="row" class="p-3 ps-md-2 text-center">
					<img src="{{ pokemon.sprites.other.officialArtwork.frontDefault }}" class="img-fluid" style="width: 48px; height: 48px;" alt="{{ pokemon.name }}">
				</th>

				<td class="align-middle fw-bold py-3">
					<a class="text-reset text-decoration-none" href="{{ path('app_pokemon_show', { name: pokemon.name }) }}">
						{{ pokemon.name | title }}
					</a>
				</td>

				{% if app.user %}
					<td class="align-middle py-3">
						{% include 'teams/_team_button.html.twig' with { pokemonId: pokemon.id, pokemonName: pokemon.name, teams: pokemon.id in teamPokemonIds|keys ? teamPokemonIds[pokemon.id] : [] } %}
					</td>

					<td class="align-middle py-3">
						<turbo-frame id="favorite-{{ pokemon.id }}">
							{% include 'favorites/_favorite_button.html.twig' with { pokemon: pokemon, isFavorite: pokemon.id in favoriteIds } %}
						</turbo-frame>
					</td>
				{% endif %}

				<td class="align-middle py-3">
					{% for entry in pokemon.types %}
						<span class="badge fs-10 mb-1" style="background-color: var(--{{ entry.type.name }})">
							{{ entry.type.name | upper }}
						</span>
					{% endfor %}
				</td>

				<td class="small pe-3 pe-md-2 py-3">
					#
					{{- pokemon.id -}}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
