{% set types = ['normal', 'fire', 'water', 'electric', 'grass', 'ice', 'fighting', 'poison', 'ground', 'flying', 'psychic', 'bug', 'rock', 'ghost', 'dragon', 'dark', 'steel', 'fairy'] %}
{% set multipliers = {'normal': 1,'fire': 1,'water': 1,'electric': 1,'grass': 1,'ice': 1,'fighting': 1,'poison': 1, 'ground': 1, 'flying': 1, 'psychic': 1, 'bug': 1, 'rock': 1, 'ghost': 1, 'dragon': 1, 'dark': 1, 'steel': 1, 'fairy': 1} %}

{% for pokemonType in pokemonTypes %}
    {# Weaknesses (×2) #}
    {% for weakness in pokemonType.damageRelations.doubleDamageFrom %}
        {% if weakness.name in multipliers|keys %}
            {% set multipliers = multipliers|merge({
                (weakness.name): multipliers[weakness.name] * 2
            }) %}
        {% endif %}
    {% endfor %}

    {# Resistances (×0.5) #}
    {% for resistance in pokemonType.damageRelations.halfDamageFrom %}
        {% if resistance.name in multipliers|keys %}
            {% set multipliers = multipliers|merge({
                (resistance.name): multipliers[resistance.name] / 2
            }) %}
        {% endif %}
    {% endfor %}

    {# Immunities (×0) #}
    {% for immunity in pokemonType.damageRelations.noDamageFrom %}
        {% if immunity.name in multipliers|keys %}
            {% set multipliers = multipliers|merge({
                (immunity.name): 0
            }) %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% set immune = multipliers|filter(m => m == 0) %}
{% set veryResistant = multipliers|filter(m => m == 0.25) %}
{% set resistant = multipliers|filter(m => m == 0.5) %}
{% set normal = multipliers|filter(m => m == 1) %}
{% set weak = multipliers|filter(m => m == 2) %}
{% set veryWeak = multipliers|filter(m => m == 4) %}

<table class="table m-0">
    <tr>
        <th scope="row">Immune to</th>
        <td>
            {% if immune is not empty %}
                {% for type in immune|keys %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Very Resistant to <span class="text-black-50">(x0.25)</span></th>
        <td>
            {% if veryResistant is not empty %}
                {% for type in veryResistant|keys %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Resistant to <span class="text-black-50">(x0.5)</span></th>
        <td>
            {% if resistant is not empty %}
                {% for type in resistant|keys %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Normal <span class="text-black-50">(x1)</span></th>
        <td>
            {% if normal is not empty %}
                {% for type in normal|keys %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Weak to <span class="text-black-50">(x2)</span></th>
        <td>
            {% if weak is not empty %}
                {% for type in weak|keys %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Very Weak to <span class="text-black-50">(x4)</span></th>
        <td>
            {% if veryWeak is not empty %}
                {% for type in veryWeak|keys %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
</table>
