{% extends 'base.html.twig' %}

{% block title %}
    {{ pokemon.name|title }}
    - Pokefony
{% endblock %}

{% block body %}

    {# @var pokemon App\PokeApiClient\DTO\Pokemon\PokemonDTO #}

    <div
        class="container">
        <div
            class="row my-4" data-controller="favorite-toast">

            {# Section Image #}
            <div class="col-12 col-lg-4">
                <section class="p-4 rounded h-100">
                    <div class="d-flex h-100 flex-column justify-content-between align-items-center">
                        <div class="h-100 d-flex align-items-center">
                            <img src="{{ pokemon.sprites.other.officialArtwork.frontDefault }}" class="img-fluid" style="width: 300px;" alt="{{ pokemon.name|title }} artwork">
                        </div>

                        <div class="w-100">
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h2 class="fw-bold">
                                    {{ pokemon.name|title }}
                                </h2>

                                <div class="d-flex gap-2">
                                    {% for type in types %}
                                        <span class="badge fs-6" style="background-color: var(--{{ type.name }})">
                                            {{ type.name|upper }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h6 class="fw-medium m-0">
                                    {# {{ species.genera.genus | title }} #}
                                </h6>

                                <h6 class="text-muted m-0">
                                    #
                                    {{- pokemon.id|upper -}}
                                </h6>
                            </div>

                            {# Favorites and Teams buttons #}
                            {% if app.user %}
                                <div class="d-flex gap-3 mt-4">
                                    {# Favorites button #}
                                    <turbo-frame id="favorite-{{ pokemon.id }}">
                                        {{ include('favorites/_favorite_button_text.html.twig', {
                                            pokemon: pokemon,
                                            isFavorite: isFavorite,
                                        }) }}
                                    </turbo-frame>

                                    {# Teams button #}
                                    <button type="button" class="btn btn-sm btn-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#addToTeamModal-{{ pokemon.id }}"
                                            data-controller="team-modal-trigger"
                                            data-action="click->team-modal-trigger#loadModal"
                                            data-team-modal-trigger-pokemon-id-value="{{ pokemon.id }}"
                                            data-team-modal-trigger-pokemon-name-value="{{ pokemon.name }}">
                                        Manage Teams
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>

            {# Section Informations #}
            <div class="col-12 col-lg-8">
                <section class="p-4 rounded h-100">
                    <h6 class="section-title">
                        Basic Information
                    </h6>

                    <table class="table mb-4">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Height
                                </th>
                                <td>
                                    {{ pokemon.height / 10 }}
                                    m
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Weight
                                </th>
                                <td>
                                    {{ pokemon.weight / 10 }}
                                    kg
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Gender Ratio
                                </th>
                                <td class="align-middle">
                                    {% if species.genderRate == -1 %}
                                        <span class="text-muted">
                                            Genderless
                                        </span>
                                    {% else %}
                                        {% set femalePercent = (species.genderRate / 8 * 100)|number_format(1) %}
                                        {% set malePercent = ((8 - species.genderRate) / 8 * 100)|number_format(1) %}
                                        <div class="progress rounded-5" style="height: 20px; max-width: 400px;">
                                            <div class="progress-bar bg-danger fw-medium" role="progressbar" style="width: {{ femalePercent }}%;" aria-valuenow="{{ femalePercent }}" aria-valuemin="0" aria-valuemax="100">
                                                {{ femalePercent }}
                                                %
                                            </div>
                                            <div class="progress-bar bg-primary fw-medium" role="progressbar" style="width: {{ malePercent }}%;" aria-valuenow="{{ malePercent }}" aria-valuemin="0" aria-valuemax="100">
                                                {{ malePercent }}
                                                %
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Abilities
                                </th>

                                <td class="align-middle">
                                    <div class="d-flex gap-2 flex-wrap">
                                        {% for entry in pokemon.abilities %}
                                            <span class="badge bg-secondary">
                                                {{ entry.ability.name|replace({'-': ' '})|title }}
                                                {% if entry.isHidden %}
                                                    (Hidden)
                                                {% endif %}
                                            </span>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Catch Rate
                                </th>
                                <td>
                                    {{ species.captureRate }}
                                    <span class="text-muted">
                                        (
                                        {{- species.captureRate * (100 / 255)|format_number({rounding_mode: 'floor'}) -}}
                                        %)
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Growth Rate
                                </th>
                                <td>
                                    {{ species.growthRate.name|replace({'-': ' '})|title }}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Base Experience
                                </th>
                                <td>
                                    {{ pokemon.baseExperience }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h6 class="section-title">
                        Flavor Text
                    </h6>

                    <p class="fst-italic fw-medium my-1">
                        {{ species.flavorTextEntries[0].flavorText }}
                    </p>
                </section>
            </div>
        </div>

        {# Types Section #}
        <section class="my-4 p-4 rounded">
            <h6 class="section-title">
                Type Effectiveness
            </h6>

            {{ include('pokemon/_types_table.html.twig', { pokemonTypes: types }) }}
        </section>

        {# Section Stats #}
        <section class="my-4 p-4 rounded">
            <h6 class="section-title">
                Stats
            </h6>

            <table class="table table-borderless m-0" style="table-layout: fixed;">
                <colgroup>
                    <col style="width: 80px;">
                    <col style="width: 60px;">
                    <col>
                </colgroup>

                <tbody>
                    {% for entry in pokemon.stats %}
                        <tr>
                            <th scope="row">
                                {{ entry.stat.name|replace({'-': ' ', defense: 'def', attack: 'atk', special: 'spe'})|title|replace({Hp: 'HP'}) }}
                            </th>

                            <td class="text-center fw-semibold">
                                {{ entry.baseStat }}
                            </td>
                            <td class="align-middle">
                                <div class="progress" style="height: 12px;">
                                    <div class="progress-bar" style="width: {{ entry.baseStat / 2.55 }}%" role="progressbar" aria-valuenow="{{ entry.baseStat }}" aria-valuemin="0" aria-valuemax="255"></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

    {# Modal container for teams - loaded dynamically via Stimulus #}
    <div id="team-modal-container"></div>
{% endblock %}
