{% extends 'base.html.twig' %}

{% block title %}
    {{ vm.name|title }} - Pokefony
{% endblock %}

{% block body %}

    {% from "pokemon/_evolution_chain.html.twig" import recursiveChainLink %}

    <div class="container">
        <div class="row my-4">
            {# Section Image #}
            <div class="col-12 col-lg-4">
                <section class="p-4 rounded h-100">
                    <div class="d-flex h-100 flex-column justify-content-between align-items-center">
                        <div class="h-100 d-flex align-items-center">
                            <img src="{{ vm.sprite.url }}" class="img-fluid" style="width: 300px;"
                                 alt="{{ vm.name|title }} artwork">
                        </div>

                        <div class="w-100">
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h2 class="fw-bold">
                                    {{ vm.name|title }}
                                </h2>

                                <div class="d-flex gap-2">
                                    {% for type in vm.types %}
                                        <span class="badge fs-6" style="background-color: var(--{{ type }});">
                                            {{ type|upper }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h6 class="fw-medium m-0">
                                    {# {{ species.genera.genus | title }} #}
                                </h6>

                                <h6 class="text-muted m-0">
                                    #{{- vm.id -}}
                                </h6>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            {# Section Informations #}
            <div class="col-12 col-lg-8">
                <section class="p-4 rounded h-100">
                    <h6 class="section-title">
                        Basic Information
                    </h6>

                    <table class="table mb-4">
                        <tbody>
                        <tr>
                            <th scope="row">Height</th>
                            <td>{{ vm.height / 10 }} m</td>
                        </tr>

                        <tr>
                            <th scope="row">Weight</th>
                            <td>{{ vm.weight / 10 }} kg</td>
                        </tr>

                        <tr>
                            <th scope="row">Gender Ratio</th>
                            <td class="align-middle">
                                {% if vm.genderRate == -1 %}
                                    <span class="text-muted">Genderless</span>
                                {% else %}
                                    {% set femalePercent = (vm.genderRate / 8 * 100)|number_format(1) %}
                                    {% set malePercent = ((8 - vm.genderRate) / 8 * 100)|number_format(1) %}
                                    <div class="progress rounded-5" style="height: 20px; max-width: 400px;">
                                        <div class="progress-bar bg-danger fw-medium"
                                             role="progressbar"
                                             style="width: {{ femalePercent }}%;"
                                             aria-valuenow="{{ femalePercent }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                            {{ femalePercent }} %
                                        </div>
                                        <div class="progress-bar bg-primary fw-medium"
                                             role="progressbar"
                                             style="width: {{ malePercent }}%;"
                                             aria-valuenow="{{ malePercent }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                            {{ malePercent }} %
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Abilities</th>

                            <td class="align-middle">
                                <div class="d-flex gap-2 flex-wrap">
                                    {% for ability in vm.abilities %}
                                        <span class="badge bg-secondary">
                                            {{ ability.name|replace({'-': ' '})|title }}
                                            {% if ability.isHidden %}
                                                (Hidden)
                                            {% endif %}
                                        </span>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Capture Rate</th>
                            <td>
                                {{ vm.captureRate }}
                                <span
                                    class="text-muted">({{- vm.captureRate * (100 / 255)|format_number({rounding_mode: 'floor'}) -}} %)</span>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Growth Rate</th>
                            <td>{{ vm.growthRate|replace({'-': ' '})|title }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Base Experience</th>
                            <td>{{ vm.baseExperience }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h6 class="section-title">
                        Flavor Text
                    </h6>

                    <p class="fst-italic fw-medium my-1">
                        {{ vm.flavorText.flavorText }}
                    </p>
                </section>
            </div>
        </div>

        {# Evolutions Section #}
        {% if vm.evolutionChain %}
            <section class="p-4 rounded">
                <h6 class="section-title">Evolution Chain</h6>

                <div class="d-flex justify-content-around align-items-center p-4">
                    {{ recursiveChainLink(vm.evolutionChain, 0) }}
                </div>
            </section>
        {% endif %}

        {# Types Section #}
        <section class="my-4 p-4 rounded">
            <h6 class="section-title">Type Effectiveness</h6>
            {{ include('pokemon/_types_table.html.twig', { damageRelations: vm.damageRelations }) }}
        </section>

        {# Section Stats #}
        <section class="my-4 p-4 rounded">
            <h6 class="section-title">Stats</h6>

            <table class="table table-borderless m-0" style="table-layout: fixed;">
                <colgroup>
                    <col style="width: 80px;">
                    <col style="width: 60px;">
                    <col>
                </colgroup>

                <tbody>
                {% for stat in vm.stats %}
                    <tr>
                        <th scope="row">
                            {{ stat.name|replace({'-': ' ', defense: 'def', attack: 'atk', special: 'spe'})|title|replace({Hp: 'HP'}) }}
                        </th>

                        <td class="text-center fw-semibold">
                            {{ stat.baseValue }}
                        </td>
                        <td class="align-middle">
                            <div class="progress" style="height: 12px;">
                                <div class="progress-bar"
                                     style="width: {{ stat.baseValue / 2.55 }}%"
                                     role="progressbar"
                                     aria-valuenow="{{ stat.baseValue }}"
                                     aria-valuemin="0"
                                     aria-valuemax="255">

                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

    {# Modal container for teams - loaded dynamically via Stimulus #}
    <div id="team-modal-container"></div>
{% endblock %}
