<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220
				0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22
				x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
			{% block stylesheets %}
			{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand navbar-dark bg-primary d-flex justify-content-between
				px-4">
			<div class="navbar-brand fw-bold">
				POKEFONY
			</div>

			<ul class="nav navbar-nav gap-2">
				<li class="nav-item">
					<a class="nav-link active fw-semibold" href="{{ path('app_pokedex_region', {region: 'national', page: 1}) }}" aria-current="page">
						Pokédex
						<span class="visually-hidden">
							(current)
						</span>
					</a>
				</li>

				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link active fw-semibold" href="{{ path('app_logout') }}" aria-current="page">
							Logout
							<span class="visually-hidden">
								(current)
							</span>
						</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active fw-semibold" href="{{ path('app_register') }}" aria-current="page">
							Register
							<span class="visually-hidden">
								(current)
							</span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active fw-semibold" href="{{ path('app_login') }}" aria-current="page">
							Login
							<span class="visually-hidden">
								(current)
							</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>

		<!-- Toast Container -->
		<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
			<div id="favoriteToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<i class="bi bi-star-fill me-2" style="color: #fbbf24;"></i>
					<strong class="me-auto">Favorites</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body"></div>
			</div>
		</div>

		<div class="container d-flex justify-content-center align-items-center"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
