{% extends 'base.html.twig' %}

{% block title %}
	Pokefony
{% endblock %}

{% block body %}
	<div class="container-fluid container-md w-100 my-4" style="max-width: 800px;">
		<section class="p-0 p-md-4 rounded" data-controller="favorite-toast favorites-list">
			{% if pokemons is empty %}
				<h6 class="m-auto text-center">
					You don't have any favorite pokémon yet.
				</h6>
			{% else %}
				<table class="table table-hover border-bottom mb-0">
					<tbody data-favorites-list-target="tableBody">
						{% for pokemon in pokemons %}
							<tr class="position-relative align-middle" data-favorites-list-target="row" data-pokemon-id="{{ pokemon.pokemonId }}" style="transition: opacity 0.3s ease-out, transform 0.3s ease-out;">
								<th scope="row" class="p-3 ps-md-2 text-center">
									<img src="{{ pokemon.spriteUrl }}" class="img-fluid" style="width: 48px; height: 48px;" alt="{{ pokemon.name }}">
								</th>

								<td class="align-middle fw-bold py-3">
									<a class="text-reset text-decoration-none" href="{{ path('app_pokemon_show', { name: pokemon.name }) }}">
										{{ pokemon.name | title }}
									</a>
								</td>

								<td class="align-middle py-3">
									<turbo-frame id="favorite-{{ pokemon.pokemonId }}">
										{% include 'favorites/_favorite_button.html.twig' with { pokemon: { id: pokemon.pokemonId }, isFavorite: true } %}
									</turbo-frame>
								</td>

								<td class="align-middle py-3">
									{% for type in pokemon.types %}
										<span
											class="badge fs-10 mb-1"
											style="background-color: var(--{{ type.name }})">
											{{ type.name | upper }}
										</span>
									{% endfor %}
								</td>

								<td class="small pe-3 pe-md-2 py-3">
									#
									{{- pokemon.pokemonId -}}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</section>
	</div>
{% endblock %}
