{% macro recursiveChainLink(chain, index) %}
    {% import _self as self %}

    {% if index > 0 %}
        <div class="d-flex flex-column align-items-center">
            <span class="fs-1 d-inline-flex">
                {{ ux_icon('bi:arrow-right') }}
            </span>

            {% for detail in chain.details %}
                <span>
                    <span>{{ detail.trigger | title | replace({'-': ' '}) }}</span>

                    {% if detail.minLevel %}
                        <span>{{ detail.minLevel }}</span>
                    {% endif %}

                    {% if detail.minHappiness %}
                        <span>Happiness {{ detail.minHappiness }}</span>
                    {% endif %}

                    {% if detail.item %}
                        <span>{{ detail.item | title | replace({'-': ' '}) }}</span>
                    {% endif %}

                    {% if detail.timeOfDay %}
                        <span>Time: {{ detail.timeOfDay | title }}</span>
                    {% endif %}
                </span>
            {% endfor %}
        </div>
    {% endif %}

    <div class="d-flex flex-column align-items-center gap-2">
        <img
            src="{{ chain.sprite.url }}"
            class="img-fluid"
            style="width: 100px;"
            alt="{{ chain.name | title }} artwork">

        <strong>
            <a class="text-reset text-decoration-none"
               href="{{ path('app_pokemon_show', { name: chain.name }) }}">
                {{ chain.name | title }}
            </a>

        </strong>
    </div>

    {% if chain.evolutions | length %}
        {# When there are more than one possible evolution, display them in a column #}
        {% if chain.evolutions | length > 1 %}
            <div class="d-flex gap-5">
                {% for link in chain.evolutions %}
                    {{ self.recursiveChainLink(link, index + 1) }}
                {% endfor %}
            </div>
        {% else %}
            {% for link in chain.evolutions %}
                {{ self.recursiveChainLink(link, index + 1) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}
