<table class="table m-0">
    <tr>
        <th scope="row">Immune to</th>
        <td>
            {% if damageRelations.immuneTo is not empty %}
                {% for type in damageRelations.immuneTo %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Very Resistant to <span class="text-black-50">(x0.25)</span></th>
        <td>
            {% if damageRelations.veryResistantTo is not empty %}
                {% for type in damageRelations.veryResistantTo %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Resistant to <span class="text-black-50">(x0.5)</span></th>
        <td>
            {% if damageRelations.resistantTo is not empty %}
                {% for type in damageRelations.resistantTo %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Normal <span class="text-black-50">(x1)</span></th>
        <td>
            {% if damageRelations.neutralTo is not empty %}
                {% for type in damageRelations.neutralTo %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Weak to <span class="text-black-50">(x2)</span></th>
        <td>
            {% if damageRelations.weakTo is not empty %}
                {% for type in damageRelations.weakTo %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Very Weak to <span class="text-black-50">(x4)</span></th>
        <td>
            {% if damageRelations.veryWeakTo is not empty %}
                {% for type in damageRelations.veryWeakTo %}
                    <span class="badge" style="background-color: var(--{{ type }})">{{ type|upper }}</span>
                {% endfor %}
            {% else %}
                <strong>-</strong>
            {% endif %}
        </td>
    </tr>
</table>
